@charset "UTF-8";
	section{
		width:50%;
		margin-left:auto;
		margin-right:auto;
		background-color:bisque;
		border:1px solid black;
		
	}
	form label{
		display:block;
		margin:30px;
	}
	h1{
		text-align:center;
		color:blue;
		text-shadow:5px 5px 2px green;
	}
	p{
		text-align:center;
	}